
#editor {
    height: 100%;
    width: 50%;
    display: inline-block;
}

#code {
    height: 100%;
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.container {
    height: calc(100vh - 80px);
    width: 100%;
}

button {
    padding: 10px 20px;
    margin-bottom: 5px;
    margin-right: 10px;
    background-color: rgb(37, 185, 230);
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1.5px rgb(147, 155, 160);
    outline: none;
}

button:active {
    box-shadow: none;
}

.link-to-github {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

@media screen and (max-width: 1024px){

    #editor {
        height: 50%;
        width: 100%;
        margin-bottom: 10px;
    }

    #code {
        height: 50%;
        width: 100%;
    }

    .container {
        height: 94%;
        width: 100%;
    }
}